<link rel="stylesheet" href ="/css/header.css">
<header>
    <div><a href="/"><h4>Codeil | <%=title%></h4></a></div>
    <%if(locals.user){%>
        <div class="sign-in">
            <%=user.name%>
        </div>
        <div>
            <a href ='/users/sign-out'>Sign Out</a>
        </div>
    <%} else{%>
        <div class="sign-in">
            <a href="/users/sign-in">Sign In</a>
        </div>
        <div>
            <a href = "/users/sign-up">Sign Up</a>
        </div>
    <%}%>
</header>