<h1>Forgot Password</h1>
<p>Enter email associated with the account</p>
<br>
<form action="/users/reset-email" method="POST">
    <input type="email" name="email" placeholder="Your email">
    <input type="submit" name="password-reset" id="reset-button">
</form>
