<h1>
   Codeial | <%= title %>
</h1>

<section id = "feed-posts">
    <h4>Posts</h4>
    <%if(locals.user){%>
        <div>
            <form action="/posts/create-post" id = "new-post-form" method = "POST">
                <textarea name="content" cols="30" rows="10"></textarea>
                <input type="submit" value="Post">
            </form>
        </div>
    <%}%>

    <% for(var i=0; i<posts.length; i++) {%>
        <div class="post">
            <div><span><%=posts[i].user.name%></span></div>
            <div><%=posts[i].content%></div>
        </div>
    <% } %>
</section>


